@layer utilities {
  /**
   * Themes
   */
  .theme-light {
    --theme-bg-alt: theme('colors.gray.lightest');
    --theme-bg: theme('colors.white');
    --theme-outline: theme('colors.charcoal');
    --theme-text-alt: theme('colors.gray.dark');
    --theme-text: theme('colors.charcoal');
    --theme-border: theme('colors.gray.light');
    --theme-border-alt: theme('colors.gray.light');
    --theme-shadow: theme('boxShadow.DEFAULT');
    --theme-shadow-md: theme('boxShadow.md');
    --theme-shadow-lg: theme('boxShadow.lg');
  }

  @variants dark {
    .theme-dark {
      --theme-bg-alt: theme('colors.gray.darkest');
      --theme-bg: theme('colors.charcoal');
      --theme-outline: theme('colors.white');
      --theme-text-alt: theme('colors.gray.lightest');
      --theme-text: theme('colors.white');
      --theme-border: theme('colors.gray.dark');
      /* Only used in this one instance, will leave this as hex for now. */
      --theme-border-alt: #505050;
      --theme-shadow: theme('boxShadow.dark');
      --theme-shadow-md: theme('boxShadow.md-dark');
      --theme-shadow-lg: theme('boxShadow.lg-dark');
    }
  }

  /**
   * Headings
   */
  .heading-xl {
    @apply font-bold text-3xl md:text-4xl leading-none !important;
  }

  .heading-lg {
    @apply font-bold text-2xl md:text-3xl leading-tight !important;
  }

  .heading-md {
    @apply font-bold text-xl md:text-2xl leading-tight !important;
  }

  .heading-sm {
    @apply font-bold text-base md:text-lg leading-tight !important;
  }

  .heading-xs {
    @apply font-bold text-sm md:text-base leading-normal !important;
  }

  /**
   * Gutters
   */
  .px-gutter-all {
    @apply px-gutter md:px-gutter-md lg:px-gutter-lg !important;
  }

  /**
   * Scroll Offset
   */
  .scroll-to-offset * {
    scroll-margin-top: theme('spacing.36') !important;
  }

  .prose * {
    color: theme('colors.theme-text') !important;
  }

  .prose code:after,
  .prose code:before {
    content: '';
  }

  /**
    Coveo search
  */

  .CoveoFieldValue.source-badge {
    padding: 2px 12px 2px 5px;
    color: #fdfdfd;
    font-size: 13px;
    font-weight: 600;
    min-width: auto;
    display: inline-block;
    border-radius: 0 15px 15px 0;
    background-color: #baac93;
  }
  .CoveoFieldValue.source-badge .coveo-clickable {
    color: #fdfdfd;
  }
  .CoveoFieldValue.source-badge.sitecore-website {
    background-color: #dc291e;
  }
  .CoveoFieldValue.source-badge.sitecore-youtube {
    background-color: #ff0000;
  }
  .CoveoFieldValue.source-badge.sitecore-kb {
    background-color: #f2cf5b;
  }
  .CoveoFieldValue.source-badge.sitecore-stackexchange {
    background-color: #1d4f76;
  }
  .CoveoFieldValue.source-badge.sitecore-documentation {
    background-color: #621aff;
  }
  .CoveoFieldValue.source-badge.sitecore-forum {
    background-color: #009730;
  }
  .CoveoFieldValue.clickable-field-value {
    background-color: #8097aa;
    color: #fdfdfd;
    padding: 5px;
    border-radius: 2px;
    font-size: 11px;
  }
  .CoveoFieldValue.clickable-field-value .coveo-clickable {
    color: #fdfdfd;
  }
}
